# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
media/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
__pycache__/
*.pyc
*.sqlite3
env/
venv/
staticfiles/
media/
*.log
